@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --primary-bg: 255, 255, 255;
  --secondary-bg: 239, 239, 239;
  --highlight-bg: 239, 239, 239;
  --text-primary: 0, 0, 0;
  --text-secondary: 115, 115, 115;
  --text-default: 0, 149, 246;
  --button-hover: 0, 0, 0, 0.05;
}

.dark {
  --primary-bg: 0, 0, 0;
  --secondary-bg: 54, 54, 54;
  --highlight-bg: 38, 38, 38;
  --text-primary: 245, 245, 245;
  --text-secondary: 168, 168, 168;
  --text-default: 0, 149, 246;
  --button-hover: 255, 255, 255, 0.1;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 10px !important;
  color: white !important;
  font-weight: bolder !important;
}
.swiper-button-prev,
.swiper-button-next {
  height: 23px !important;
  width: 23px !important;
  background-color: #5e5e5e !important;
  border-radius: 100% !important;
  z-index: 9999;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none !important;
}
